{% extends 'index.html' %} {% block title %}
<!-- the page title goes here -->
{% endblock %} {% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for b in books %}
  <!-- content specific to this page goes here -->
  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> image tag -->
      <div class="card-body">
        <a class="card-title" href="http://127.0.0.1:8000/books/{{b.id}}"
          >{{b.title}}</a
        >
        <h6 class="card-subtitle mb-2 text-muted">{{b.author}}</h6>
        <h7 class="card-subtitle mb-2 text-muted">{{b.year}}</h7>
        <p class="card-text">{{b.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{b.genre}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
